[submodule "gohugo-theme-ananke"]
	path = themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "gohugo-theme-blowfish"]
	path = themes/blowfish
	url = https://github.com/nunocoracao/blowfish.git
[submodule "blowfish"]
	path = themes/blowfish
	url = https://github.com/nunocoracao/blowfish.git
[submodule "themes/blowfish"]
	path = themes/blowfish
	url = https://github.com/nunocoracao/blowfish.git
	branch = main
